<ion-content [fullscreen]="true" scroll-y="true">
  <div id="container">
    <div class="main-content-div-portada">
      <div class="back_div_portada">

        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>

        <div class="text-card-portada">
          <ion-title>
            VINCENZO
          </ion-title>
        </div>

        <div class="titulo-page">
          <h2>En mi vida</h2>
        </div>

        <div class="img-card-portada">
          <img src="../assets/img/vida.jpg" alt="">
        </div>

        <div class="text-info-card-momentos">
          <p>Importancia de esta serie en mi vida </p>
        </div>
        <ion-item>
           <p class="mar-15">Esta serie tiene una importancia en mi vida, ya que fue una de las series asiaticas que vi despues de mucho momento, y gracias a esta serie, volvi a hablar con una de mis amigas, con las cuales no hablaba en mucho tiempo.
           Tambien esta serie me mostro que las apariencias enganan completamente, y que las cosas no son siempre como pensamos. Me sorprendieron algunas escenas y casos, porque Korea se pinta como un pais ideal y en verdad existen muchos casos de corrupciones como se muestra en la serie.</p>
        </ion-item>
       
      </div>
    </div>
  </div>

</ion-content>