<ion-content [fullscreen]="true" scroll-y="true">
  <div id="container">
    <div class="main-content-div-portada">
      <div class="back_div_portada">

        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>

        <div class="text-card-portada">
          <ion-title>
            VINCENZO
          </ion-title>
        </div>

        <div class="titulo-page">
          <h2>En mi vida</h2>
        </div>

        <div class="img-card-portada">
          <img src="../assets/img/Foto2x2(BN).jpeg" alt="">
        </div>

        <div class="text-info-card-momentos">
          <p>Informacion Personal </p>
        </div>
        <ion-item>
           <p>Annethy Paola Javier Montero</p><ion-icon name="person-circle-outline"></ion-icon>
        </ion-item>

        <ion-item>
          <p>202010518</p><ion-icon name="reader-outline"></ion-icon>
        </ion-item>

        <ion-item>
          <p>annethy25@gmail.com </p><ion-icon name="at-circle-outline"></ion-icon>
        </ion-item>

        
        <ion-item>
          <p>809-436-1300 </p> <ion-icon name="call-outline"></ion-icon>
        </ion-item>
       
      </div>
    </div>
  </div>

</ion-content>