<ion-content [fullscreen]="true" scroll-y="true">
  <div id="container">
    <div class="main-content-div-portada">
      <div class="back_div_portada">

        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>

        <div class="text-card-portada">
          <ion-title>
            VINCENZO
          </ion-title>
        </div>

        <div class="titulo-page">
          <h2>Acerca de</h2>
        </div>

        <div class="img-card-portada">
          <img src="../assets/img/ac.webp" alt="">
        </div>

        <div class="text-info-card-momentos">
          <p>Informacion de la serie</p>
          <!--Item 1 - Informacion-->
          <ion-item>
            <span> Nombre:</span> <p class="mar-15">Vincenzo</p>
          </ion-item>
          <!--Item 2 - Informacion-->
          <ion-item>
             <span> Sinopsis:</span> <p> Durante una visita a su patria, un abogado de la mafia coreanoitaliano le da a un conglomerado inexpugnable una cucharada de su propia medicina con extracto de justicia.</p>
          </ion-item>
          <!--Item 3 - Informacion-->
          <ion-item>     
            <span> Protagonistas:</span> <p>Song Joong-ki,Jeon Yeo-been,Ok Taec-yeon</p>
          </ion-item>
          <!--Item 4 - Informacion-->
          <ion-item>     
            <span> Creado por:</span> <p class="mar-15"> Kim Hee-won,Park Jae-beom</p>
          </ion-item>
          <!--Item 5 - Informacion-->
          <ion-item>     
            <span>Género:</span> <p>Crimen, Drama, Suspenso, Romance, Comedia</p>
          </ion-item>
          <!--Item 6 - Informacion-->
          <ion-item>     
            <span>Episodios: </span> <p class="mar-15">C20</p>
          </ion-item>
          <!--Item 7 - Informacion-->
          <ion-item>     
            <span>Cadena: </span> <p class="mar-15">tvN</p>
          </ion-item>
          <!--Item 8 - Informacion-->
          <ion-item>     
            <span>Periodo de emisión: </span> <p >20-Febrero-2021 al 02-Mayo-2021</p>
          </ion-item>
          <!--Item 9 - Informacion-->
          <ion-item>     
            <span>Horario:</span> <p > Sábados y Domingos 21:00</p>
          </ion-item>
          <!--Item 10 - Informacion-->
          <ion-item>     
            <span>Banda sonora:</span> <p> Vincenzo OST</p>
          </ion-item>
        </div>

       
      </div>
    </div>
  </div>

</ion-content>