<ion-content [fullscreen]="true">
  <div id="container">
    <div class="main-content-div-portada">
      <div class="back_div_portada">

        <ion-buttons slot="start">
          <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>

        <div class="text-card-portada">
          <ion-title>
            VINCENZO
          </ion-title>
        </div>
       
        <div class="titulo-page">
          <h2>Portada</h2>
        </div>
        <div class="img-card-portada">
          <img src="../assets/img/1.jpg" alt="">
        </div>

        <div class="text-info-card-portada">
         
          <p>Serie - Kdrama</p>
          <p>Corea del Sur</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>